%h1 Listing users

%p
  Please be very careful on this page.  If you delete the last approved user, nobody will be able to sign up or sign in to the site.

%table
  %tr
    %th Email Address
    %th
    %th
  - @users.each do |user|
    %tr
      %td= user.email
      %td
        - if user.approved?
          Approved
        - else
          = link_to "Approve", manage_users_approve_path(user), :method => :get
      %td= button_to "Delete", manage_users_destroy_path(user), :confirm => "Are you sure?", :method => :delete
